/* global styles */

/* Fjalla One font */
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* default fonts */
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #282728;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #c8ab72;
    font-family: "Fjalla One", sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.navbar {
    font-family: "Fjalla One", sans-serif;
}

/* navbar is transparent at the start */
.navbar-transparent {
    background: transparent;
    border-bottom: 1px solid #c8ab72;
    height: 80px;
    border-radius: 0;/* full length of the bar */
    margin: 0;
    transition: background-color 0.7s ease, box-shadow 0.7s ease;
}

/* navbar when user scrolls down */
.navbar.scrolled {
    background: rgba(18,17,18,0.69);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #c8ab72;
}

/* background image homepage style */
.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(6px) brightness(80%);
    transform: scale(1.03);
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.2) 40%,
            rgba(0, 0, 0, 0.2) 60%,
            rgba(0, 0, 0, 0.6) 100%
    );
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 50px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* for background images */
.background-section {
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    overflow: hidden;
}

.bg-home {
    background-image: url('../images/hotelReception.jpg');
}

.bg-meals {
    background-image: url('../images/meals.jpg');
}

.bg-rooms {
    background-image: url('../images/room.jpg');
}

.bg-bookings {
    background-image: url('../images/phone.jpg');
}

.bg-reports {
    background-image: url('../images/reports.jpg');
}

.bg-reviews {
    background-image: url('../images/review.jpg');
}

/**/
.table-style {

}